# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env
.env.development
.env.production
.env.local
.env.*.local

# Build artifacts
dist/
build/
coverage/

# Editor/IDE specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test files
*.spec.js
*.test.js